.home-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .home-container {
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  .home-container {
    flex-direction: row;
  }
}
