.submit {
  padding: 1rem 1.5rem;
  color: var(--white);
  font-weight: 700;
  line-height: 1.25rem;
  background-color: var(--green-500);
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.submit:hover {
  background-color: var(--green-300);
}
