.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.feedback-form__title {
  color: var(--gray-100);
  font-weight: 700;
  line-height: 1.5rem;
}
