.edit-profile {
  padding: 1.5rem 0 2rem;
  border-top: solid 1px var(--gray-600);
  display: flex;
  justify-content: center;
  width: 100%;
}

.edit-profile__action {
  border: solid 1px var(--green-500);
  width: 100%;
  max-width: 12rem;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  color: var(--green-500);
  border-radius: 8px;
  transition: all 0.3s linear;
}

.edit-profile__action:hover {
  background: var(--green-500);
  color: var(--white);
}

.edit-profile__action:hover {
  background: var(--green-500);
  color: var(--white);
}
